@import "../../css/bootstrap/less/variables.less";
@import "../../css/custom/custom-variables.less";

#wrapper {
	height: 100%;
}

footer {
	position: relative;
}

.home {
	.page-header {
		position: relative;
		height: 80%;
		min-height: 300px;
	}	
}