/*!
 *  CustomCSS For CartoDB Map by Mass Impact Technology
 *
 */
/* FONT PATH
 * -------------------------- */

/*Global Custom CSS*/

#secondary_title{
    font-size: .55em;
    font-style: italic;
    color: #ffce54;
    margin-left: 10px;
    display:inline;

/*Custom Home Page CSS and Search Page*/
  #searchbox{
    background-color: #d2eaef;
    opacity: 0.8;
    position: absolute;
    top: 50px;
    left: 100px;
    width: auto;
    height: auto;
    padding: 10px;
    display: block;
    z-index: 9000;

}

  .form-control{
  height:39px!important;
  }

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    max-width: 300px;
}

div#results{
    background: #FFF;
}
div#inputgroup h4{
    margin:5px;


}

div#registerlist{
    background-color: #d2eaef;
    opacity: 0.8;
    position: relative;
    top: 10px;
    left: 50px;
    width: auto;
    height: auto;
    padding: 10px;
    display: block;
    z-index: 9000;
    margin-right:800px;

}
div#registerlist{
    background: #FFF;
}

div#registerlist2{
    background-color: #d2eaef;
    opacity: 0.8;
    position: relative;
    top: 10px;
    left: 50px;
    width: auto;
    height: auto;
    padding: 10px;
    display: block;
    z-index: 9000;
    margin-right:800px;

}



