/*CUSTOM MAP CSS*/

#map {
    width: 100%;
    height: 500px;
    padding: 0;
    margin: 0;
    margin-top:-20px!important;

}
#searchbox{
    background-color:#fafafa;
    opacity: 0.9;
    position: relative;
    top: 30px;
    left: 100px;
    width: auto;
    height: auto;
    padding: 0px;
    display: inline-block;
    z-index: 9000;
    max-width:400px;
    border-radius:10px;

}
.form-control{
    height:39px!important;
}

.input-group{
    margin:10px;

}

h3.center{
    margin-top:0px!important;
    padding-top:5px!important;
    background-color:#ffce54;
    text-align:center;
    padding-bottom:10px;
    padding-top:10px!important;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}
div#results{
    background: #FFF;
}
div#form-group h4{
    margin:5px;


}

div#registerlist{
    background-color: #d2eaef;
    opacity: 0.8;
    position: relative;
    top: 10px;
    left: 50px;
    width: auto;
    height: auto;
    padding: 10px;
    display: block;
    z-index: 9000;
    margin-right:800px;

}
div#registerlist{
    background: #FFF;
}

div#registerlist2{
    background-color: #d2eaef;
    opacity: 0.8;
    position: relative;
    top: 10px;
    left: 50px;
    width: auto;
    height: auto;
    padding: 10px;
    display: block;
    z-index: 4;
    margin-right:800px;

}
#questions{
    margin-bottom:20px;
}                              */

/*CSS FOR THE DROPDOWN PANEL*/
.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}
.row#tools{
    padding-top: 20px!important;
    padding: 0 10px;
    background: rgba(255,206,84,0.8);
}
.clickable {
    cursor: pointer;
}

.single-item{
    display:inline;
}
#logo_main{
    height:150px;
    display: block;
    margin-left:auto;
    margin-right:auto;

}
#counter1{
    font-size: 2em;
}
#counter_container{
    text-align:center;
    display: block;
    margin-left:auto;
    margin-right:auto;
}
h1#counter1{
    line-height:5px;;
}

/*BUTTON CSS*/
/* General button style */
.btn_1 {
    border: none;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 250px;
}
.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before {
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
}


/* Icon separator */
.btn-sep {
    padding: 25px 40px 25px 80px;
}

.btn-sep:before {
    background: rgba(0,0,0,0.15);
}

/* Button 1 */
.btn-1 {
    background: #f6bb42;
    color: #fff;
}

.btn-1:hover {
    background: #f5b025;
    color: #fff;

}

.btn-1:active {
    background: #f5b025;
    color:#fff
    top: 2px;
}

.btn-1:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
}

/* Button 2 */
.btn-2 {
    background: #f6bb42;
    color: #fff;
}

.btn-2:hover {
    background: #f5b025;
    color: #fff;

}

.btn-2:active {
    background: #f5b025;
    color:#fff
    top: 2px;
}

.btn-2:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
}

/* Button 3 */
.btn-3 {
    background: #f6bb42;
    color: #fff;
}

.btn-3:hover {
    background: #f5b025;
    color: #fff;

}

.btn-3:active {
    background: #f5b025;
    color:#fff
    top: 2px;
}

.btn-3:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
}

/* Button 4 */
.btn-4 {
    background: #f6bb42;
    color: #fff;
}

.btn-4:hover {
    background: #f5b025;
    color: #fff;

}

.btn-4:active {
    background: #f5b025;
    color:#fff
    top: 2px;
}

.btn-4:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
}

/* Icons */

.icon-cart:before {
    content: "\f03a";
}

.icon-heart:before {
    content: "\f004";
}

.icon-info:before {
    content: "\f05a";
}

.icon-send:before {
    content: "\f1d8";
}

.icon-list:before {
    content: "\f03a";
}
.icon-search:before {
    content: "\f002";
}

.icon-building:before {
    content: "\f0f7";
}

.icon-email:before {
    content: "\f1fa";
}



/*Custom CSS*/

#counter_container{
    display: inline-block;
}

#sponsor_counter{
    height:150px;
    overflow:hidden;

}
#sidebar_right{
    text-align: center;
}
.large_font {
    font-size: 2.5em;
    text-align: center;
    line-height:1em;
}
.center_font{
    text-align: center;
}
.overflow{
    position:absolute;
    z-index: 3;

}
#header_cover{
    height:150px;
    background:rgba(255, 206, 84,0.4);
    z-index: 3;
    border-bottom:2px solid #f6bb42;

}
#sponsor_logo_horizontal{
    margin-top:10px;
}
.max_100 img{
    height:100px!important;
}
.container.main{
    margin-top:50px;
}
.page-header{
    margin-top: -50px;
}
.site-header{
    z-index: 5;
}
#page-navbar{
    z-index: 4;
}
#searchbox{
    z-index: 4;
}

#reset_button{
    padding:20px;
    width:250px;
    background-color: #f6bb42;
    color:#fafafa;
    vertical-align: middle;
    border-radius:10px;

}

#reset_button:hover{
    background-color: red;
}

#general_button{
    padding:20px;
    width:250px;
    background-color: #f6bb42;
    color:#fafafa;
    vertical-align: middle;
    border-radius:10px;

}

#general_button:hover{
    background-color: #D19F38;

}


.hidden{
    display:none;}

p#website_results{
    margin-bottom:10px!important;
}

#sponsor_logo_horizontal{
    z-index:4;
    padding-top:10px;
}

.portfolio-item{
    text-align:center;
}

button#maplink {
    background-color: #f6bb42;
    width: 150px;
    margin-top: -50px!important;
    color: #fafafa;
    padding: 10px;
    border-radius: 10px;
    border-color:#f6bb42;
}

#maplink:hover {
    background-color: #D19F38;
}
#maplink a:hover {
    color: white!important;
}

.bottom_space{
    padding-bottom:100px;
}


#listlink{
    text-align: center!important;
}

#inline_sub_menu{
    display:inline;
    color:white;
}
#inline_sub_menu:hover{
    display:inline;
    background-color:#f6bb42;
}

#register_sub_menu{
     background-color: green;
     color: white!important;
     border-radius:10px;
 }

#register_sub_menu:hover {
    background-color: green!important;
    color: white!important;
    border-radius:10px;
}

#register_sub_menu a{
    color: white!important;
}
#register_sub_menu a:hover{
    color: #f6bb42!important;
}

#register_button{
    text-align: center;
}



/*HOVER ON THUMBNAILS*/

a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
    border-color: #f6bb42;
    background: rgba(246,187,66,0.4);


