@import "../../css/bootstrap/less/variables.less";
@import "../../css/custom/custom-variables.less";

.page-header {
	background: linear-gradient(darken(@nappc-primary,10%), darken(@nappc-secondary, 5%));
	border-bottom-color: @nappc-primary;
	img {
		width: 120px;
		position: absolute;
		bottom: 10px; 
		right: 15px;
		@media (max-width: 500px) {
			width: 110px;
		}
	}
	h1,h2 {
		margin-right: 150px;
		@media (max-width: 500px) {
			margin-right: 100px;
			margin-left: -20px;
		}
	}
	h1 {
		font-family: @font-family-sans-serif;
		font-size: 32px;
		@media (max-width: 500px) {
			font-size: 28px;
		}
	}
	h2 {
		max-width: 280px;
		@media (max-width: 500px) {
			font-size: 16px;
		}
	}
}

.call-to-action li {
	background-color: @nappc-primary;
}

#page-nav ul li:first-of-type, #page-navbar .dropdown button {
	background-color: @nappc-primary;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
	color: @nappc-primary;
	background-color: lighten(@nappc-secondary, 38%);
}

.sidebar .btn {
	background-color: @nappc-secondary;
}


#conference-header {	
	img {
		width: 100%;
		@media (min-width: 612px) {
			float: left;
			width: 200px;
			margin-right: 20px;
		}
	}
	h3 {
		font-size: 20px;
		margin: 0;
		@media (max-width: 612px) {
			margin-top: 20px;
		}
	}
	h4 {
		line-height: 1.5;
	}
	h4:first-of-type {
		font-size: 16px;
	}	
}











