@import "../../css/bootstrap/less/variables.less";
@import "../../css/custom/custom-variables.less";

.page-header {
	background: linear-gradient(darken(@nappc-primary,10%), darken(@nappc-secondary, 5%));
	border-bottom-color: @nappc-primary;
	img {
		width: 120px;
		position: absolute;
		bottom: 10px; 
		right: 15px;
		@media (max-width: 500px) {
			width: 110px;
		}
	}
	h1,h2 {
		margin-right: 150px;
		@media (max-width: 500px) {
			margin-right: 100px;
			margin-left: -20px;
		}
	}
	h1 {
		font-family: @font-family-sans-serif;
		font-size: 32px;
		@media (max-width: 500px) {
			font-size: 28px;
		}
	}
	h2 {
		max-width: 280px;
		@media (max-width: 500px) {
			font-size: 16px;
		}
	}
}

.call-to-action li {
	background-color: @nappc-primary;
}

#page-nav ul li:first-of-type, #page-navbar .dropdown button {
	background-color: @nappc-primary;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
	color: @nappc-primary;
	background-color: lighten(@nappc-secondary, 38%);
}

.sidebar .btn {
	background-color: @nappc-secondary;
}


#home-header {
	background-image: url("../Images/home_header.png");
	background-size: cover;
	min-height: 200px;
	@media (max-width: 415px) {
		background-position: center top;
	}
	h1 {
		font-family: @font-family-sans-serif;
		font-weight: 700;
		font-size: 20px;
		letter-spacing: 0.15em;
		color: #fff;
		background-color: rgba(0,0,0,0.5);
		text-align: center;
		margin:0;
		padding: 10px 0 5px;
	}
	h3 {
		color: #fff;
		text-align: right;
		margin: 30px;
		small {
			color: #fff;
		}
	}
	img {
		width: 120px;
		margin-left: 30px;
		position: relative;
		top: 50px;
		@media (max-width: 415px) {
			top: 30px;
		}
	}
}


#conference-header {	
	img {
		width: 100%;
		@media (min-width: 612px) {
			float: left;
			width: 200px;
			margin-right: 20px;
		}
	}
	h3 {
		font-size: 20px;
		margin: 0;
		@media (max-width: 612px) {
			margin-top: 20px;
		}
	}
	h4 {
		line-height: 1.5;
	}
	h4:first-of-type {
		font-size: 16px;
	}	
}


.main h2 .heading-content {
	border-bottom-color: #f15c44;
}

#conference-info {   // For the homepage sidebar top
	h3 {
		line-height: 1.5;
		@media (max-width: @screen-md) {
			text-align: center;
		}	
		@media (max-width: @screen-sm) {
			font-size: 16px;
			margin-top: 5px;
		}
	}
	h3:first-of-type {
		font-size: 22px;
		margin-top: 10px;
		@media (min-width: @screen-md) {
			margin-top: 40px;
		}
		@media (max-width: @screen-sm) {
			font-size: 20px;
		}
	}
}








